<h1>Sign up</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" data-testid="form">
  <fieldset>
    <legend>Choose your plan</legend>

    <div>
      <ul class="flex radio-toolbar">
        <li class="card">
          <div>
            <p class="card-header text-center"><strong>Personal</strong></p>
            <p class="text-center">
              <span class="plan-currency">$</span
              ><span class="plan-price">1</span
              ><span class="plan-month">/ Mon</span>
            </p>
            <ul>
              <li>Free 30 Day Trial</li>
              <li>No Credit Card Requited</li>
              <li class="plan-disabled">Free Forever</li>
              <li class="plan-disabled">
                For Students, Schools and Non-profit Organizations
              </li>
            </ul>
            <div class="flex-center">
              <input
                id="radioPlanPersonal"
                type="radio"
                formControlName="plan"
                name="plan"
                [value]="PERSONAL"
                data-testid="plan-personal"
              />
              <label for="radioPlanPersonal">Select</label>
            </div>
          </div>
        </li>
        <li class="card">
          <div>
            <p class="card-header text-center"><strong>Business</strong></p>
            <p class="text-center">
              <span class="plan-currency">$</span>
              <span class="plan-price">10</span>
              <span class="plan-month">/ Mon</span>
            </p>
            <ul>
              <li>Free 30 Day Trial</li>
              <li>No Credit Card Requited</li>
              <li class="plan-disabled">Free Forever</li>
              <li class="plan-disabled">
                For Students, Schools and Non-profit Organizations
              </li>
            </ul>
          </div>
          <div class="flex-center">
            <input
              type="radio"
              formControlName="plan"
              name="plan"
              [value]="BUSINESS"
              data-testid="plan-business"
              id="radioPlanBusiness"
            />
            <label for="radioPlanBusiness">Select</label>
          </div>
        </li>
        <li class="card">
          <div>
            <p class="card-header text-center">
              <strong>Education & Non-profit</strong>
            </p>
            <p class="text-center"><span class="plan-price">FREE</span></p>
            <ul>
              <li>Free 30 Day Trial</li>
              <li>No Credit Card Requited</li>
              <li>Free Forever</li>
              <li>For Students, Schools and Non-profit Organizations</li>
            </ul>
          </div>
          <div class="flex-center">
            <input
              id="radioPlanNonFit"
              type="radio"
              formControlName="plan"
              name="plan"
              [value]="NON_PROFIT"
              data-testid="plan-non-profit"
            />
            <label for="radioPlanNonFit">Select</label>
          </div>
        </li>
      </ul>
    </div>
  </fieldset>

  <fieldset>
    <legend>Account basics</legend>
    <!-- *********** username ********** -->
    <div>
      <p>
        <label>
          <span>Username <span aria-hidden="true"></span> required</span>
          <input
            type="text"
            formControlName="username"
            aria-discribedby="username-description"
            aria-required="true"
            appErrorMessage="username-errors"
            autocomplete="username"
            data-testid="username"
          />
        </label>
      </p>
      <div>
        <p id="username-description">
          User name may only contain letters (a-z), numbers (0-9) and periods
          (.). Example: beautiful.flower.2020
        </p>
        <app-control-errors controlName="username" id="username-errors">
          <ng-template let-errors>
            <ng-container *ngIf="errors.required"
              >User name must be given.</ng-container
            >
            <ng-container *ngIf="errors.pattern"
              >User name contains invalid characters.</ng-container
            >
            <ng-container *ngIf="errors.maxlength"
              >User name must have less then 50 characters</ng-container
            >
            <ng-container *ngIf="errors.taken"
              >User name is already taken. Please choose another
              one.</ng-container
            >
          </ng-template>
        </app-control-errors>
      </div>
    </div>
    <!-- *********** username:end ********** -->

    <!-- *********** email ********** -->
    <div>
      <p>
        <label>
          <span>Email <span aria-hidden="true"></span> required</span>
          <input
            type="email"
            formControlName="email"
            aria-discribedby="email-description"
            aria-required="true"
            appErrorMessage="email-errors"
            autocomplete="email"
            data-testid="email"
          />
        </label>
      </p>
      <div>
        <p id="email-description">Example: jadirjsjunior@gmail.com</p>
        <app-control-errors controlName="email" id="email-errors">
          <ng-template let-errors>
            <ng-container *ngIf="errors.required">
              Email must be given.
            </ng-container>
            <ng-container *ngIf="errors.email">
              Not a valid email address.
            </ng-container>
            <ng-container *ngIf="errors.maxlength">
              Email must have less then 100 characters.
            </ng-container>
            <ng-container *ngIf="errors.taken">
              Email is already taken. Please choose another one
            </ng-container>
          </ng-template>
        </app-control-errors>
      </div>
    </div>
    <!-- *********** email:end ********** -->

    <!-- *********** password ********** -->
    <div>
      <p>
        <label>
          <span>Password <span aria-hidden="true"></span> required</span>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
            aria-discribedby="password-description"
            aria-required="true"
            appErrorMessage="password-errors"
            autocomplete="new-password"
            (input)="getPasswordStrength()"
            data-testid="password"
          />
        </label>
      </p>
      <div>
        <div id="password-description">
          <p>
            <button
              type="button"
              (click)="showPassword = !showPassword"
              aria-controls="password"
              data-testid="show-password"
            >
              {{ showPassword ? "🔒 Hide password" : "👁️ Show Password" }}
            </button>
            <span aria-live="polite">
              Your password is {{ showPassword ? "show" : "hidden" }}
            </span>
          </p>
          <div *ngIf="passwordStrength$ | async as passwordStrength">
            <p>
              Strength:
              <strong *ngIf="passwordStrength.score < 3">Weak</strong>
              <span *ngIf="passwordStrength.score === 3">Fair</span>
              <span *ngIf="passwordStrength.score > 3">Strong</span>
            </p>
            <p *ngIf="passwordStrength.warning">
              {{ passwordStrength.warning }}
            </p>
            <p *ngIf="let suggestion of passwordStrength.suggestion">
              {{ suggestion }}
            </p>
          </div>
          <app-control-errors controlName="password" id="password-errors">
            <ng-template let-errors>
              <ng-container *ngIf="errors.required">
                Password must be given.
              </ng-container>
              <ng-container *ngIf="errors.weak">
                Password is too weak.
              </ng-container>
            </ng-template>
          </app-control-errors>
        </div>
      </div>
    </div>
    <!-- *********** password:end ********** -->
  </fieldset>

  <fieldset formGroupName="address">
    <legend>Address</legend>

    <!-- *********** full name ********** -->
    <div>
      <p>
        <label>
          <span>
            Full name
            <span aria-hidden="true">required</span>
          </span>
          <input
            type="text"
            formControlName="name"
            aria-required="true"
            appErrorMessage="name-errors"
            autocomplete="name"
            data-testid="name"
          />
        </label>
      </p>
      <div>
        <app-control-errors controlName="name" id="name-errors">
          <ng-template let-errors>
            <ng-container *ngIf="errors.required"
              >Name must be given.</ng-container
            >
          </ng-template>
        </app-control-errors>
      </div>
    </div>
    <!-- *********** full name:end ********** -->

    <!-- *********** Address Line 1 ********** -->
    <div>
      <p>
        <label>
          <span>
            <ng-container *ngIf="plan.value === PERSONAL">
              Address Line 1
            </ng-container>
            <ng-container *ngIf="plan.value === BUSINESS">Company</ng-container>
            <ng-container *ngIf="plan.value === NON_PROFIT">
              Organization
            </ng-container>
            <span *ngIf="plan.value !== PERSONAL" aria-hidden="true">
              required
            </span>
            <span *ngIf="plan.value === PERSONAL" aria-hidden="true">
              optional
            </span>
          </span>
          <input
            type="text"
            formControlName="addressLine1"
            [attr.aria-required]="
              form.controls['plan'].value !== PERSONAL ? 'true' : null
            "
            appErrorMessage="addressLine1-errors"
            autocomplete="address-line1"
            data-testid="addressLine1"
          />
        </label>
      </p>
      <div>
        <app-control-errors controlName="addressLine1" id="addressLine1-errors">
          <ng-template let-errors>
            <ng-container *ngIf="errors.required">
              <ng-container *ngIf="form.controls['plan'].value === BUSINESS">
                Company must be given.
              </ng-container>
              <ng-container *ngIf="form.controls['plan'].value === NON_PROFIT">
                Organization must be given.
              </ng-container>
            </ng-container>
          </ng-template>
        </app-control-errors>
      </div>
    </div>
    <!-- *********** Address Line 1:end ********** -->

    <!-- *********** Address Line 2 ********** -->
    <div>
      <p>
        <label>
          <span>
            Street and house number
            <span aria-hidden="true">required</span>
          </span>
          <input
            type="text"
            formControlName="addressLine2"
            aria-required="true"
            appErrorMessage="addressLine2-errors"
            autocomplete="address-line2"
            data-testid="addressLine2"
          />
        </label>
      </p>
      <div>
        <app-control-errors controlName="addressLine2" id="addressLine2-errors">
          <ng-template let-errors>
            <ng-container *ngIf="errors.required">
              Street and house number must be given.
            </ng-container>
          </ng-template>
        </app-control-errors>
      </div>
    </div>
    <!-- *********** Address Line 2:end ********** -->

    <!-- *********** City ********** -->
    <div>
      <p>
        <label>
          <span>
            City
            <span aria-hidden="true">required</span>
          </span>
          <input
            type="text"
            formControlName="city"
            aria-required="true"
            appErrorMessage="city-errors"
            autocomplete="shipping address-level2"
            data-testid="city"
          />
        </label>
      </p>
      <div>
        <app-control-errors controlName="city" id="city-errors">
          <ng-template let-errors>
            <ng-container *ngIf="errors.required">
              City must be given.
            </ng-container>
          </ng-template>
        </app-control-errors>
      </div>
    </div>
    <!-- *********** City:end ********** -->

    <!-- *********** Postcode ********** -->
    <div>
      <p>
        <label>
          <span>
            Postcode
            <span aria-hidden="true">required</span>
          </span>
          <input
            type="text"
            formControlName="postcode"
            aria-required="true"
            appErrorMessage="postcode-errors"
            autocomplete="shipping postal-code"
            data-testid="postcode"
          />
        </label>
      </p>
      <div>
        <app-control-errors controlName="postcode" id="postcode-errors">
          <ng-template let-errors>
            <ng-container *ngIf="errors.required">
              Postcode must be given.
            </ng-container>
          </ng-template>
        </app-control-errors>
      </div>
    </div>
    <!-- *********** Postcode:end ********** -->

    <!-- *********** Region ********** -->
    <div>
      <p>
        <label>
          <span>
            State/Province/Region
            <span aria-hidden="true">required</span>
          </span>
          <input
            type="text"
            formControlName="region"
            aria-required="true"
            aria-describedby="region-description"
            appErrorMessage="postcode-errors"
            autocomplete="shipping address-level1"
            data-testid="region"
          />
        </label>
      </p>
    </div>
    <!-- *********** Region:end ********** -->

    <!-- *********** Country ********** -->
    <div>
      <p>
        <label>
          <span>
            Country
            <span aria-hidden="true">required</span>
          </span>
          <select
            type="text"
            formControlName="country"
            aria-required="true"
            appErrorMessage="country-errors"
            autocomplete="shipping country"
            data-testid="country"
          >
            <option>Balnibarbi</option>
            <option>Blefuscu</option>
            <option>Brobdingnag</option>
            <option>Glubbdubdrib</option>
            <option>Laputa</option>
            <option>Lilliput</option>
            <option>Luggnagg</option>
          </select>
        </label>
      </p>
      <div>
        <app-control-errors controlName="country" id="country-errors">
          <ng-template let-errors>
            <ng-container *ngIf="errors.required">
              Country must be given.
            </ng-container>
          </ng-template>
        </app-control-errors>
      </div>
    </div>
    <!-- *********** Country:end ********** -->
  </fieldset>

  <fieldset>
    <legend>Terms and Services</legend>

    <p>
      <label>
        <span>
          <input
            type="checkbox"
            formControlName="tos"
            aria-required="true"
            appErrorMessage="tos-erros"
            data-testid="tos"
          />
          <span>
            I accept the
            <a
              href="https://en.wikipedia.org/wiki/Terms_and_conditions_May_Apply"
              target="_blank"
            >
              Terms and Services
            </a>
            and the
            <a
              href="https//www.nytimes.com/iteractive/2019/opinion/internet-privacy-project.html"
              >Privacy Policy</a
            >
          </span>
        </span>
      </label>
    </p>
    <app-control-errors controlName="tos" id="tos-errors">
      <ng-template let-errors>
        <ng-container *ngIf="errors.required"
          >Please accept the Terms and Services.</ng-container
        >
      </ng-template>
    </app-control-errors>
  </fieldset>

  <p *ngIf="!form.valid">Please fill in the necessary fields above.</p>

  <p *ngIf="submitProgress === 'success'" role="status" data-testid="status">
    <strong>Sign-up successful!</strong>
  </p>

  <p *ngIf="submitProgress === 'error'" role="status" data-testid="status">
    <strong>Sign-up error</strong>
  </p>

  <p>
    <button
      *ngIf="submitProgress !== 'success'"
      type="submit"
      [disabled]="!form.valid"
      data-testid="submit"
    >
      Sign up
    </button>
  </p>
  <p>
    <button (click)="console()">console</button>
  </p>
</form>
